---
layout: default
tab: Homepage
main-heading: This is a fun heading 
photo-banner:
    image: https://images.unsplash.com/photo-1567073161926-d6179e60492f?q=80&w=2148&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
    alt:
info-section:
    columns:
        - heading: Heading
          text: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam modi accusantium repellat quibusdam autem dolorem optio.
        - heading: Heading
          text: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam modi accusantium repellat quibusdam autem dolorem optio.
        - heading: Heading
          text: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam modi accusantium repellat quibusdam autem dolorem optio.
image-grid:
    heading: Another one
    photos:
        - image: https://images.unsplash.com/photo-1580113224483-6e03c7b6fe6a?q=80&w=2148&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
        - image: https://images.unsplash.com/photo-1563967949-d97cba787cae?q=80&w=2322&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
        - image: https://images.unsplash.com/photo-1708711973477-1373f8eb65db?q=80&w=2148&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
        - image: https://images.unsplash.com/photo-1666136242426-761b173a1412?q=80&w=2148&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
        - image: https://images.unsplash.com/photo-1582790269393-a54326674cf3?q=80&w=2235&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
        - image: https://images.unsplash.com/photo-1687291834006-3c1a3c7d7ff3?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
text-and-image-grid:
    heading: another heading
    text-1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ullam debitis ipsa nemo unde omnis nisi, corporis ex asperiores minus sequi perferendis alias. Nisi quod vero incidunt, sapiente reiciendis ducimus!
    text-2: Temporibus ullam debitis ipsa nemo unde omnis nisi, corporis ex asperiores minus sequi perferendis alias. Nisi quod vero incidunt, sapiente reiciendis ducimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    button-text: learn more
    image: https://images.unsplash.com/photo-1603806450478-18e70c5e8a94?q=80&w=2235&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
bold-text-section:
    text: Sometimes all you need is a big random block of text to really drive home the point.
facts-section:
    facts-loop:
        - heading: Fish
          fact: 1 Mil
        - heading: Depth
          fact: 200M
        - heading: Happy divers
          fact: 500+
    text: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis error sunt aliquam cumque architecto molestiae omnis voluptatem perferendis, amet vero voluptas maiores repellendus modi magnam excepturi facere ratione est? Tenetur!
photo-banner-2:
    image: https://images.unsplash.com/photo-1567073161926-d6179e60492f?q=80&w=2148&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
    alt:

---


<!-- Heading -->
<section>
    <h1 class="container mx-auto py-12 px-8 sm:px-16 font-sans font-extrabold uppercase text-5xl">{{page.main-heading}}</h1>
</section>

<!-- Image -->
<section class="relative h-72">
    <img class="absolute inset-0 w-full h-full object-cover" src="{{page.photo-banner.image}}" alt="{{page.photo-banner.alt}}">
</section>

<!-- Info Section -->
<section class="container mx-auto px-8 py-32 sm:px-16 flex flex-col md:grid grid-cols-3 gap-6">
    {% for item in page.info-section.columns %}
    <div class="">
        <h4 class="uppercase font-bold text-2xl">{{item.heading}}</h4>
        <p>{{item.text}}</p>
    </div>
    {% endfor %}

</section>
    

<!-- Image Grid Section -->
<section class="container mx-auto px-8 sm:px-16 text-center">
    <div class="max-w-xl m-auto">
        <h2 class="pb-6 uppercase font-bold text-5xl">{{page.image-grid.heading}}</h2>
    </div>
    <!-- Images -->
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1">
        {% for item in page.image-grid.photos %}
        <img class="aspect-square w-full object-cover" src="{{item.image}}" alt="{{item.alt}}">
        {% endfor %}
    </div>
    <div class="pt-8">
        <button class="bg-teal text-seafoam uppercase text-xs px-6 p-2">contact us</button>
    </div>
</section>

<!-- Text Left / Image Right -->
<section class="container mx-auto py-32 px-8 sm:px-16">
    <div class="grid md:grid-cols-2 gap-6">
      <!-- Secondary Heading -->
      <div class="col-span-1 pr-12">
        <div>
          <h3 class="uppercase font-bold text-xl">{{page.text-and-image-grid.heading}}</h3>
        </div>
        <p class="pb-3">{{page.text-and-image-grid.text-1}}</p>
        <p class="pb-3">{{page.text-and-image-grid.text-2}}</p>
        <div class="pt-8">
          <button class="bg-teal text-seafoam uppercase text-xs px-6 p-2">{{page.text-and-image-grid.button-text}}</button>
        </div>
      </div>
      <!-- md:h-full on the div negates the h-72, h-full on the image is still needed because of the position absolute -->
      <div class="grow relative order-first h-72 md:order-none md:h-full"> 
        <img class="absolute w-full h-full object-cover" src="{{page.text-and-image-grid.image}}" alt="{{page.text-and-image-grid.alt}}">
      </div>
    </div>
  </section>

<!-- Bold Text Section -->
<section class="container mx-auto p-8 pb-16 px-8 sm:px-16 text-center">
    <p class="py-8 font-sans font-extrabold uppercase text-5xl border-teal border-y-4">{{page.bold-text-section.text}}</p>
</section>

  <!-- Facts Section -->
<section class="container mx-auto py-16 px-8 sm:px-16 grid grid-cols-6">
    {% for item in page.facts-section.facts-loop %}
    <div class="col-span-2 pb-3 lg:col-span-1">
        <p class="uppercase font-bold text-xs">{{item.heading}}<br><span class="text-4xl">{{item.fact}}</span></p>
    </div>
    {% endfor %}

    <div class="col-span-6 lg:col-span-3 ">
        <p class="text-sm">{{page.facts-section.text}}</p>
    </div>
</section>

<!-- Image -->
<section class="relative h-72 my-10">
    <img class="absolute inset-0 w-full h-full object-cover" src="{{page.photo-banner.image}}" alt="{{page.photo-banner.alt}}">
</section>
