---
layout: default-minimal
tab: Minimalistic Wireframe
three-photo-text-grid:
    heading: Our services
    card-loop:
        - image: https://images.unsplash.com/photo-1607369816048-311ebd65f2ca?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt: 
          heading: Plants
          text: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem laudantium, dolor blanditiis cum corrupti quae volaiores praesentium eos?
        - image: https://images.unsplash.com/photo-1657927281749-7fdfd7541a5d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
          heading: Design
          text: Ipsum dolor sit amet consectetur adipisicing elit. Dolorem laudantium, dolor blanditiis cum corrupti quae volaiores praesentium.
        - image: https://plus.unsplash.com/premium_photo-1673548917550-bd55b0febe08?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
          heading: Interior Decorating
          text: Amet consectetur adipisicing elit. Dolorem laudantium, dolor blanditiis cum corrupti quae volaiores. Dolorem laudantium, dolor blanditiis.
text-and-bg-image:
    image: https://plus.unsplash.com/premium_photo-1669863547357-b7d064cedaac?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
    heading: Who we are
    text: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla laborum id voluptates dicta cupiditate perferendis saepe. Repudiandae commodi accusantium dignissimos quisquam at impedit, fugit cumque distinctio quae architecto delectus amet.
    button-text: Find out more
small-text-strip-banner:
    - brand-name: Brand name
    - brand-name: Vogue
    - brand-name: Trees
    - brand-name: Flowers
    - brand-name: Big Brand
    - brand-name: A longer name to test
centered-text-and-gallery:
    heading: Another heading
    text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime obcaecati atque incidunt magni, repellendus eum doloribus repellat eos, natus quae quisquam, alias quos voluptas magnam ab. Fuga facere nostrum ipsum.
    photos:
        - image: https://images.unsplash.com/photo-1673973835658-dd0d86d2abff?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
        - image: https://plus.unsplash.com/premium_photo-1673548917237-0e02a90d1b16?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
        - image: https://images.unsplash.com/photo-1547487253-76cc390843b4?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3DD
          alt:
        - image: https://images.unsplash.com/photo-1573820213805-b5146042cc49?q=80&w=2148&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt: 
        - image: https://images.unsplash.com/photo-1678942896530-dd2712f504f7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
          alt:
        - image: https://plus.unsplash.com/premium_photo-1701170256335-6201e8facd3b?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bWluaW1hbGlzdCUyMGxpZmVzdHlsZXxlbnwwfHwwfHx8MA%3D%3D
          alt:
contact-form-with-image:
    image: https://images.unsplash.com/photo-1471897488648-5eae4ac6686b?q=80&w=2487&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
    heading: Contact us.
    name-placeholder: any name will do
    email-placeholder: we prefer something real
    message-placeholder: we love a good compliment :)
    button-text: Submit
---

<!-- Our Serivces Section -->
<section class="p-16 py-24">
    <h2 class="uppercase text-2xl">{{page.three-photo-text-grid.heading}}</h2>
    <div class="grid sm:grid-cols-3 gap-6 pt-6">

        {% for item in page.three-photo-text-grid.card-loop %}
        <!-- Service 1 -->
        <div class="text-center">
            <img class="aspect-square object-cover w-full border-darksage" src="{{item.image}}" alt="{{item.alt}}">
            <h3 class="uppercase py-4 text-lg">{{item.heading}}</h3>
            <hr class="border-sage border-1">
            <p class="pt-4">{{item.text}}</p>
        </div>
        {% endfor %}

    </div>
</section>


<!-- Who we are Section -->
<section class="min-h-96 grid grid-cols-12 md:grid-cols-5 border-y border-darksage" style="background-image: url('{{page.text-and-bg-image.image}}')">
    <div class="col-span-1"></div>
    <div class="bg-sandy p-8 py-32 border-x border-darksage col-span-9 md:col-span-2 content-center">
        <h2 class="uppercase text-3xl pb-4">{{page.text-and-bg-image.heading}}</h2>
        <p>{{page.text-and-bg-image.text}}</p>
        <button class="uppercase text-sm border border-darksage py-1 px-6 mt-4">{{page.text-and-bg-image.button-text}}</button>
    </div>
</section>

<!-- Brand Name Small Text Banner -->
</section>
<div class="flex divide-x divide-darksage border-b border-darksage text-center">

    {% for item in page.small-text-strip-banner %}

    <div class="{% if forloop.index > 3 %} hidden sm:block {% endif %} py-2 flex-auto">{{item.brand-name}}</div>
    
    {% endfor %}

</div>
<section>

<!-- Centered Text & Gallery -->
<section class="py-32 px-8 sm:px-16 text-center">
    <div class="max-w-xl m-auto">
      <h2 class="uppercase font-bold text-4xl pb-6">{{page.centered-text-and-gallery.heading}}</h2>
      <p class="pb-4">{{page.centered-text-and-gallery.text}}</p>
    </div>
    <!-- Image Grid Section -->
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-1 pt-6">
      
        {% for item in page.centered-text-and-gallery.photos %}

        <img class="{% if forloop.index > 4 %} hidden sm:block {% endif %} aspect-square w-full object-cover border border-darksage" src="{{item.image}}" alt="">

        {% endfor %}

    </div>
    <div class="pt-8">
      <button class="uppercase border border-darksage text-xs px-6 p-2">contact us</button>
    </div>
</section>

<!-- Contact Us Section -->
<section class="border border-darksage">
    <div class="grid md:grid-cols-2 divide-x divide-darksage">
        <div class="relative">
            <img class="w-full h-full object-cover " src="{{page.contact-form-with-image.image}}" alt="">
        </div>
        <form class="p-8 px-8 sm:px-16 flex flex-col col-span-1 md:pr-12">
            <h3 class="col-span-1 pb-12 font-sans font-extrabold uppercase text-5xl">{{page.contact-form-with-image.heading}}</h3>
            <!-- Name -->
            <div class="py-6 md:pt-0">
            <label class="uppercase font-bold border-darksage border-b-2 block" for="_name"> Name </label>
            <input class="pt-2" type="text" name="_name" id="_name" placeholder="{{page.contact-form-with-image.name-placeholder}}" />  
            </div>
            <!-- Email -->
            <div class="pb-6">
            <label class="uppercase font-bold border-darksage border-b-2 block" for="_replyto"> Email </label>
            <input class="pt-2" type="email" name="_replyto" id="_replyto" placeholder="{{page.contact-form-with-image.email-placeholder}}" />
            </div>
            <!-- Message -->
            <div class="pb-6">
            <label class="uppercase font-bold block" for="message">Message</label>
            <textarea class="p-1 block w-full border-darksage border-2" name="message" id="message" placeholder="{{page.contact-form-with-image.message-placeholder}}"></textarea>
            </div>
            <!-- Button -->
            <div class="">
            <button type="submit" class="bg-darksage text-white uppercase text-xs px-6 p-2">{{page.contact-form-with-image.button-text}}</button>
            </div>
        </form>
    </div>
</section>