<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include site-head.html %}

<body class="text-darksage">

<!-- Header -->
<header class="relative min-h-screen flex flex-col">
    <img class="absolute inset-0 w-full h-full object-cover -scale-y-100" src="https://images.unsplash.com/photo-1495476479092-6ece1898a101?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <nav class="relative p-2 flex justify-between border-b border-sage text-sage">
        <div>
            <a href="#" class="p-4 uppercase text-sm">Link 1</a>
            <a href="#" class="p-4 uppercase text-sm">Link 2</a>
            <a href="#" class="p-4 uppercase text-sm">Link 3</a>
        </div>
        <div>
            <a href="#" class="p-2 uppercase text-md text-white">Logo</a> 
        </div>
        <div>
            <a href="#" class="p-4 uppercase text-sm">Link 1</a>
            <a href="#" class="p-4 uppercase text-sm">Link 2</a>
            <a href="#" class="p-4 uppercase text-sm">Link 3</a>
        </div>
    </nav>
    <div class="relative text-center text-white grow flex flex-col justify-center">
        <h1 class="text-5xl uppercase ">This is a heading</h1>
        <p>This is a subheading</p>
    </div>
</header>


{{content}}

<!-- Footer -->
<footer class="uppercase px-8 sm:px-16">
    <!-- order shifted on the newsletter to bring it above on mobile, but then needed to make the flex only on md, which meant we needed to add grid to the default/small size -->
    <div class="border-teal py-16 grid gap-12 justify-center md:flex md:justify-between">
      <div class="flex gap-16">
        <div class="">
          <p class="font-bold pb-4">Group name</p>
          <a href="#" class="block">Link 1</a>
          <a href="#" class="block">Link 2</a>
          <a href="#" class="block">Link 3</a>
          <a href="#" class="block">Link 4</a>
        </div>
        <div class="">
          <p class="font-bold pb-4">Link groups</p>
          <a href="#" class="block">Link 1</a>
          <a href="#" class="block">Link 2</a>
          <a href="#" class="block">Link 3</a>
          <a href="#" class="block">Link 4</a>
        </div>
        <div class="">
            <p class="font-bold pb-4">Another group</p>
            <a href="#" class="block">Link 1</a>
            <a href="#" class="block">Link 2</a>
            <a href="#" class="block">Link 3</a>
            <a href="#" class="block">Link 4</a>
          </div>
      </div>
      <form class="flex flex-col order-first md:order-none">
        <p>Subscribe to our newsletter</p>
        <label class="sr-only" for="_replyto"> Email </label>
        <input class="my-4 border-darksage border bg-inherit" type="email" name="_replyto" id="_replyto" placeholder=""/>
        <div>
          <button type="submit" class="border border-darksage uppercase text-xs px-6 p-2"> Subscribe </button>
        </div>
      </form>
    </div>
</footer>

</body>
</html>