<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include site-head.html %}

<body class="bg-seafoam text-teal">

 <!-- Header -->
 <header class="container mx-auto pt-4 px-8 sm:px-16 flex flex-col">
    <!-- Nav Bar -->
   <nav class="flex flex-col md:flex-row justify-between pb-2 border-teal border-b-2">
     <div class="uppercase text-lg">Diving Company</div>
     <div class="content-center -mx-2">
       <a href="#" class="p-2 uppercase text-sm">Link 1</a>
       <a href="#" class="p-2 uppercase text-sm">Link 2</a>
       <a href="#" class="p-2 uppercase text-sm">Link 3</a>
       <a href="#" class="p-2 uppercase text-sm">Link 4</a>
     </div>
   </nav>
 </header>

    {{content}}

<!-- Footer -->
{% include footer.html %}

</body>
</html>

